
 
    <footer>
        <ul>
            <li class="logo-footer"><a href="#"><img src="/twitter.png" alt="" srcset=""></a></li>
            <li class="logo-footer"><a href="#"><img src="/signe-linkedin.png" alt="" srcset=""></a></li>
            <li class="logo-footer"><a href="#"><img src="/logo-github.png" alt="" srcset=""></a></li>
        </ul>
</footer>

</body>


<script src="/anim.js"></script>
</html>